<div class="container mt-4">
  <h3>{{ editando ? 'Editar Movimento' : 'Novo Movimento' }}</h3>

  <form (ngSubmit)="salvar()">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="movimento.nome"
        name="nome"
        required>
    </div>

    <div class="mb-3">
      <label class="form-label">Unidade de Medida</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="movimento.unidadeMedida"
        name="unidadeMedida"
        required>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a routerLink="/movimentos" class="btn btn-secondary ms-2">Cancelar</a>
  </form>
</div>