<div class="modal-overlay">

  <div class="custom-modal">

    <div class="modal-header">
      <h5>NOVO MOVIMENTO</h5>
      <button class="close-btn" (click)="fechar()">✕</button>
    </div>

    <form (ngSubmit)="salvar()">

      <label>Nome</label>
      <input 
        type="text"
        [(ngModel)]="movimento.nome"
        name="nome"
        placeholder="Ex: Clean & Jerk"
        required>

      <label>Categoria</label>

      <select class="custom-select"
              [(ngModel)]="movimento.categoria"
              name="categoria">

        <option value="Weightlifting">Weightlifting</option>
        <option value="Gymnastics">Gymnastics</option>
        <option value="Cardio">Cardio</option>
        <option value="Outro">Outro</option>
      </select>

      <label>Descrição (opcional)</label>
      <input
        type="text"
        [(ngModel)]="movimento.descricao"
        name="descricao"
        placeholder="Detalhes do movimento">

      <button type="submit" class="btn-orange-full">
        Adicionar
      </button>

    </form>

  </div>

</div>