<div class="movimentos-container">

  <div class="header">
    <h2>MOVIMENTOS</h2>
    <button class="btn-novo" (click)="novoMovimento()">
       + Novo
    </button>
  </div>

  <div class="cards-container">

    <div class="mov-card" *ngFor="let movimento of movimentos">

      <div class="card-top">
        <span class="mov-nome">
          {{ movimento.nome }}
        </span>

        <span class="mov-tipo">
          {{ movimento.categoria }}
        </span>

        <span class="delete-icon"
              (click)="excluir(movimento.id!)">
          🗑
        </span>
      </div>

    </div>

  </div>

</div>