<div class="treinos-container">

  <div class="header">
    <h2>TREINOS</h2>
    <button class="btn-novo" (click)="novoTreino()">
      + Novo WOD
    </button>
  </div>

  <div class="cards-container">

    <!-- Quando tiver treinos -->
    <div class="treino-card" *ngFor="let treino of treinos">
    </div>

    <!-- Quando não tiver treinos -->
    <div class="empty-content" *ngIf="!treinos || treinos.length === 0">
      <div class="fire">🔥</div>
      <h4>Nenhum treino registrado</h4>
      <p>Registre seu primeiro WOD.</p>
    </div>

  </div>

</div>